<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <header>
        <h3>OAuth Options</h3>
    </header>
    <main>
        <ul>
            <li><a href="/auth/google">Google</a></li>
            <li><a style="pointer-events: none; cursor: default;" href="/">Facebook</a></li>
            <li><a style="pointer-events: none; cursor: default;" href="/">Twitter</a></li>
        </ul>
    </main>
</body>

</html>